In [ ]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.12/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.12/dist-packages (from pyspark) (0.10.9.7)

In [1]:
import pyspark
pyspark.__version__

'3.5.1'

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import os
os.path.isfile('/content/drive/MyDrive/PySpark/yellow_tripdata_2025-02.parquet')

True

In [165]:
from pyspark.sql import SparkSession

In [5]:
spark=SparkSession.builder.getOrCreate()
spark

In [6]:
df=spark.read.parquet('/content/drive/MyDrive/PySpark/yellow_tripdata_2025-02.parquet')

In [9]:
df.count()

3577543

In [9]:
df.printSchema()

root
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp_ntz (nullable = true)
 |-- tpep_dropoff_datetime: timestamp_ntz (nullable = true)
 |-- passenger_count: long (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: long (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: long (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- Airport_fee: double (nullable = true)
 |-- cbd_congestion_fee: double (nullable = true)

In [15]:
df.describe(['passenger_count','total_amount']).show()

+-------+------------------+------------------+
|summary|   passenger_count|      total_amount|
+-------+------------------+------------------+
|  count|           2770606|           3577543|
|   mean|1.2760276993553035|25.030550056288163|
| stddev|0.7223483242623024| 73.18541511100408|
|    min|                 0|          -1832.85|
|    max|                 9|         132555.41|
+-------+------------------+------------------+

In [12]:
df.sort('total_amount', ascending=False).show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|cbd_congestion_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
|       1| 2025-02-21 17:28:43|  2025-02-21 17:53:04|              1|          2.2|         1|                 N|         161|         246|           3|  132531.36|22.55|    0.5|       0.0|         0.0|                  1.0|   132555.41|                 2.5|        0.0|              0.75|
|       2| 2025-02-11 13:56:54|  2025-02-12 20:09:41|              1|       457.64|         4|                 N|         229|         162|           2|     2130.3|  0.0|    0.5|       0.0|      100.12|                  1.0|     2235.17|                 2.5|        0.0|              0.75|
|       2| 2025-02-02 00:25:09|  2025-02-02 07:28:34|              1|        270.2|         4|                 N|         132|         265|           2|     1844.0|  1.0|    0.5|       0.0|        21.0|                  1.0|     1869.25|                 0.0|       1.75|               0.0|
|       2| 2025-02-09 01:05:10|  2025-02-09 06:36:37|              1|       268.82|         4|                 N|         132|         265|           4|     1807.6|  1.0|    0.5|       0.0|        21.0|                  1.0|     1832.85|                 0.0|       1.75|               0.0|
|       2| 2025-02-21 23:39:45|  2025-02-22 09:22:09|              1|       195.19|         4|                 N|          50|         265|           2|     1421.2|  1.0|    0.0|       0.0|       14.06|                  1.0|     1438.01|                 0.0|        0.0|              0.75|
|       2| 2025-02-18 12:08:44|  2025-02-18 15:15:31|              1|       174.69|         4|                 N|         132|         265|           2|     1173.4|  0.0|    0.5|       0.0|        6.94|                  1.0|     1183.59|                 0.0|       1.75|               0.0|
|       2| 2025-02-27 20:34:36|  2025-02-27 20:34:45|              2|          0.0|         5|                 N|         226|         226|           1|      800.0|  0.0|    0.0|     240.3|         0.0|                  1.0|      1041.3|                 0.0|        0.0|               0.0|
|       2| 2025-02-15 20:58:34|  2025-02-15 20:58:44|              1|          0.0|         5|                 N|         231|         231|           1|      830.0|  0.0|    0.0|    166.85|         0.0|                  1.0|      1001.1|                 2.5|        0.0|              0.75|
|       2| 2025-02-09 06:50:09|  2025-02-09 06:50:20|              1|          0.0|         5|                 N|         265|         265|           2|      999.0|  0.0|    0.0|       0.0|         0.0|                  1.0|      1000.0|                 0.0|        0.0|               0.0|
|       2| 2025-02-09 06:45:39|  2025-02-09 06:46:19|              1|          0.0|         5|                 N|         265|         265|           2|      990.0|  0.0|    0.0|       0.0|         0.0|                  1.0|       991.0|                 0.0|        0.0|               0.0|
|       2| 2025-02-16 23:36:35|  2025-02-17 02:57:49|              1|       202.21|         5|                 N|         130|         265|           4|      980.0|  0.0|    0.0|       0.0|        6.94|                  1.0|      987.94|                 0.0|        0.0|               0.0|
|       2| 2025-02-27 20:37:55|  2025-02-27 20:38:03|              3|         0.04|         5|                 N|         226|         226|           2|      959.0|  0.0|    0.0|       0.0|         0.0|                  1.0|       960.0|                 0.0|        0.0|               0.0|
|       2| 2025-02-27 20:40:57|  2025-02-27 20:41:07|              2|          0.0|         5|                 N|         226|         226|           1|      700.0|  0.0|    0.0|     210.3|         0.0|                  1.0|       911.3|                 0.0|        0.0|               0.0|
|       2| 2025-02-08 22:34:55|  2025-02-08 22:35:49|              1|         0.05|         5|                 N|         229|         229|           1|      900.0|  0.0|    0.0|       0.0|         0.0|                  1.0|      904.25|                 2.5|        0.0|              0.75|
|       2| 2025-02-27 20:44:02|  2025-02-27 20:44:07|              4|          0.0|         5|                 N|         226|         226|           2|      900.0|  0.0|    0.0|       0.0|         0.0|                  1.0|       901.0|                 0.0|        0.0|               0.0|
|       2| 2025-02-09 02:11:00|  2025-02-09 02:11:14|              1|          0.0|         5|                 N|         169|         169|           4|      900.0|  0.0|    0.0|       0.0|         0.0|                  1.0|       901.0|                 0.0|        0.0|               0.0|
|       2| 2025-02-09 02:12:17|  2025-02-09 02:12:24|              4|          0.0|         5|                 N|         169|         169|           4|      900.0|  0.0|    0.0|       0.0|         0.0|                  1.0|       901.0|                 0.0|        0.0|               0.0|
|       2| 2025-02-01 17:06:22|  2025-02-01 19:17:50|              1|       112.35|         4|                 N|         132|         265|           1|      724.0|  0.0|    0.0|    146.39|        6.94|                  1.0|      880.08|                 0.0|       1.75|               0.0|
|       2| 2025-02-09 15:29:37|  2025-02-09 15:29:46|              1|          0.0|         5|                 N|          13|          13|           3|     855.55|  0.0|    0.0|       0.0|         0.0|                  1.0|       859.8|                 2.5|        0.0|              0.75|
|       2| 2025-02-09 02:13:38|  2025-02-09 02:13:42|              1|          0.0|         5|                 N|         169|         169|           3|     833.55|  0.0|    0.0|       0.0|         0.0|                  1.0|      834.55|                 0.0|        0.0|               0.0|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
only showing top 20 rows

In [15]:
from pyspark.sql.functions import col
df.select(col('passenger_count')).show()

+---------------+
|passenger_count|
+---------------+
|              3|
|              1|
|              0|
|              0|
|              1|
|              1|
|              1|
|              1|
|              1|
|              1|
|              1|
|              1|
|              2|
|              1|
|              1|
|              1|
|              1|
|              1|
|              2|
|              1|
+---------------+
only showing top 20 rows

In [16]:
df.sort(['total_amount','passenger_count'],ascending=[False, False]).show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|cbd_congestion_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
|       1| 2025-02-21 17:28:43|  2025-02-21 17:53:04|              1|          2.2|         1|                 N|         161|         246|           3|  132531.36|22.55|    0.5|       0.0|         0.0|                  1.0|   132555.41|                 2.5|        0.0|              0.75|
|       2| 2025-02-11 13:56:54|  2025-02-12 20:09:41|              1|       457.64|         4|                 N|         229|         162|           2|     2130.3|  0.0|    0.5|       0.0|      100.12|                  1.0|     2235.17|                 2.5|        0.0|              0.75|
|       2| 2025-02-02 00:25:09|  2025-02-02 07:28:34|              1|        270.2|         4|                 N|         132|         265|           2|     1844.0|  1.0|    0.5|       0.0|        21.0|                  1.0|     1869.25|                 0.0|       1.75|               0.0|
|       2| 2025-02-09 01:05:10|  2025-02-09 06:36:37|              1|       268.82|         4|                 N|         132|         265|           4|     1807.6|  1.0|    0.5|       0.0|        21.0|                  1.0|     1832.85|                 0.0|       1.75|               0.0|
|       2| 2025-02-21 23:39:45|  2025-02-22 09:22:09|              1|       195.19|         4|                 N|          50|         265|           2|     1421.2|  1.0|    0.0|       0.0|       14.06|                  1.0|     1438.01|                 0.0|        0.0|              0.75|
|       2| 2025-02-18 12:08:44|  2025-02-18 15:15:31|              1|       174.69|         4|                 N|         132|         265|           2|     1173.4|  0.0|    0.5|       0.0|        6.94|                  1.0|     1183.59|                 0.0|       1.75|               0.0|
|       2| 2025-02-27 20:34:36|  2025-02-27 20:34:45|              2|          0.0|         5|                 N|         226|         226|           1|      800.0|  0.0|    0.0|     240.3|         0.0|                  1.0|      1041.3|                 0.0|        0.0|               0.0|
|       2| 2025-02-15 20:58:34|  2025-02-15 20:58:44|              1|          0.0|         5|                 N|         231|         231|           1|      830.0|  0.0|    0.0|    166.85|         0.0|                  1.0|      1001.1|                 2.5|        0.0|              0.75|
|       2| 2025-02-09 06:50:09|  2025-02-09 06:50:20|              1|          0.0|         5|                 N|         265|         265|           2|      999.0|  0.0|    0.0|       0.0|         0.0|                  1.0|      1000.0|                 0.0|        0.0|               0.0|
|       2| 2025-02-09 06:45:39|  2025-02-09 06:46:19|              1|          0.0|         5|                 N|         265|         265|           2|      990.0|  0.0|    0.0|       0.0|         0.0|                  1.0|       991.0|                 0.0|        0.0|               0.0|
|       2| 2025-02-16 23:36:35|  2025-02-17 02:57:49|              1|       202.21|         5|                 N|         130|         265|           4|      980.0|  0.0|    0.0|       0.0|        6.94|                  1.0|      987.94|                 0.0|        0.0|               0.0|
|       2| 2025-02-27 20:37:55|  2025-02-27 20:38:03|              3|         0.04|         5|                 N|         226|         226|           2|      959.0|  0.0|    0.0|       0.0|         0.0|                  1.0|       960.0|                 0.0|        0.0|               0.0|
|       2| 2025-02-27 20:40:57|  2025-02-27 20:41:07|              2|          0.0|         5|                 N|         226|         226|           1|      700.0|  0.0|    0.0|     210.3|         0.0|                  1.0|       911.3|                 0.0|        0.0|               0.0|
|       2| 2025-02-08 22:34:55|  2025-02-08 22:35:49|              1|         0.05|         5|                 N|         229|         229|           1|      900.0|  0.0|    0.0|       0.0|         0.0|                  1.0|      904.25|                 2.5|        0.0|              0.75|
|       2| 2025-02-27 20:44:02|  2025-02-27 20:44:07|              4|          0.0|         5|                 N|         226|         226|           2|      900.0|  0.0|    0.0|       0.0|         0.0|                  1.0|       901.0|                 0.0|        0.0|               0.0|
|       2| 2025-02-09 02:12:17|  2025-02-09 02:12:24|              4|          0.0|         5|                 N|         169|         169|           4|      900.0|  0.0|    0.0|       0.0|         0.0|                  1.0|       901.0|                 0.0|        0.0|               0.0|
|       2| 2025-02-09 02:11:00|  2025-02-09 02:11:14|              1|          0.0|         5|                 N|         169|         169|           4|      900.0|  0.0|    0.0|       0.0|         0.0|                  1.0|       901.0|                 0.0|        0.0|               0.0|
|       2| 2025-02-01 17:06:22|  2025-02-01 19:17:50|              1|       112.35|         4|                 N|         132|         265|           1|      724.0|  0.0|    0.0|    146.39|        6.94|                  1.0|      880.08|                 0.0|       1.75|               0.0|
|       2| 2025-02-09 15:29:37|  2025-02-09 15:29:46|              1|          0.0|         5|                 N|          13|          13|           3|     855.55|  0.0|    0.0|       0.0|         0.0|                  1.0|       859.8|                 2.5|        0.0|              0.75|
|       2| 2025-02-09 02:13:38|  2025-02-09 02:13:42|              1|          0.0|         5|                 N|         169|         169|           3|     833.55|  0.0|    0.0|       0.0|         0.0|                  1.0|      834.55|                 0.0|        0.0|               0.0|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
only showing top 20 rows

In [22]:
df.filter('Airport_fee>0').show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|cbd_congestion_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
|       2| 2025-02-01 00:20:55|  2025-02-01 00:51:09|              1|        13.77|         1|                 N|         132|          64|           1|       56.9|  1.0|    0.5|      8.85|         0.0|                  1.0|        70.0|                 0.0|       1.75|               0.0|
|       2| 2025-02-01 00:11:37|  2025-02-01 00:40:11|              1|        19.43|         2|                 N|         132|         236|           1|       70.0|  0.0|    0.5|     16.19|        6.94|                  1.0|       98.88|                 2.5|       1.75|               0.0|
|       2| 2025-02-01 00:02:07|  2025-02-01 00:13:03|              1|         5.63|         1|                 N|         132|         197|           1|       23.3|  1.0|    0.5|      10.0|         0.0|                  1.0|       37.55|                 0.0|       1.75|               0.0|
|       2| 2025-02-01 00:11:57|  2025-02-01 00:38:15|              2|         16.6|         2|                 N|         132|         162|           1|       70.0|  0.0|    0.5|     16.69|        6.94|                  1.0|      100.13|                 2.5|       1.75|              0.75|
|       1| 2025-02-01 00:39:35|  2025-02-01 01:27:27|              1|         14.7|         1|                 N|         132|          80|           1|       67.4| 2.75|    0.5|     14.35|         0.0|                  1.0|        86.0|                 0.0|       1.75|               0.0|
|       1| 2025-02-01 00:21:37|  2025-02-01 01:05:46|              1|         19.4|         1|                 N|         132|          17|           1|       78.6| 2.75|    0.5|       0.0|         0.0|                  1.0|       82.85|                 0.0|       1.75|               0.0|
|       1| 2025-02-01 00:07:17|  2025-02-01 00:30:24|              1|          9.0|         1|                 N|         138|         162|           1|       37.3| 11.0|    0.5|      9.95|         0.0|                  1.0|       59.75|                 2.5|       1.75|              0.75|
|       2| 2025-02-01 00:04:49|  2025-02-01 00:29:40|              2|        10.92|         1|                 N|         132|          82|           1|       43.6|  1.0|    0.5|      9.22|         0.0|                  1.0|       57.07|                 0.0|       1.75|               0.0|
|       2| 2025-02-01 00:51:11|  2025-02-01 01:18:41|              1|        15.75|         1|                 N|         132|         145|           1|       59.7|  1.0|    0.5|     12.44|         0.0|                  1.0|       76.39|                 0.0|       1.75|               0.0|
|       2| 2025-02-01 00:28:31|  2025-02-01 00:56:09|              1|         6.08|         1|                 N|         132|         130|           2|       32.4|  1.0|    0.5|       0.0|         0.0|                  1.0|       36.65|                 0.0|       1.75|               0.0|
|       2| 2025-02-01 00:09:41|  2025-02-01 00:39:41|              1|        19.41|         2|                 N|         132|         236|           1|       70.0|  0.0|    0.5|     24.28|        6.94|                  1.0|      106.97|                 2.5|       1.75|               0.0|
|       2| 2025-02-01 00:40:05|  2025-02-01 00:58:56|              1|         9.32|         1|                 N|         138|         116|           1|       38.0|  6.0|    0.5|      5.42|        6.94|                  1.0|       59.61|                 0.0|       1.75|               0.0|
|       2| 2025-02-01 00:07:06|  2025-02-01 00:39:22|              1|        18.25|         1|                 N|         132|          21|           2|       69.5|  1.0|    0.5|       0.0|         0.0|                  1.0|       73.75|                 0.0|       1.75|               0.0|
|       2| 2025-02-01 00:03:07|  2025-02-01 00:49:16|              1|        21.78|         1|                 N|         132|          49|           1|       87.0|  1.0|    0.5|       3.0|         0.0|                  1.0|       94.25|                 0.0|       1.75|               0.0|
|       2| 2025-02-01 00:30:45|  2025-02-01 01:26:56|              1|        21.46|         2|                 N|         132|         239|           1|       70.0|  0.0|    0.5|     14.88|        6.94|                  1.0|       97.57|                 2.5|       1.75|               0.0|
|       2| 2025-02-01 00:23:30|  2025-02-01 01:16:13|              1|        21.23|         2|                 N|         132|         143|           1|       70.0|  0.0|    0.5|     16.19|        6.94|                  1.0|       98.88|                 2.5|       1.75|               0.0|
|       2| 2025-02-01 00:44:46|  2025-02-01 00:59:03|              1|         8.56|         1|                 N|         138|         137|           2|       33.1|  6.0|    0.5|       0.0|        6.94|                  1.0|       52.54|                 2.5|       1.75|              0.75|
|       1| 2025-02-01 00:35:03|  2025-02-01 01:25:28|              1|         19.8|         2|                 N|         132|         238|           1|       70.0| 1.75|    0.5|      10.0|        6.94|                  1.0|       90.19|                 0.0|       1.75|               0.0|
|       2| 2025-02-01 00:33:23|  2025-02-01 01:31:03|              5|        19.96|         2|                 N|         132|          24|           1|       70.0|  0.0|    0.5|     24.06|        6.94|                  1.0|      104.25|                 0.0|       1.75|               0.0|
|       2| 2025-02-01 00:05:53|  2025-02-01 00:38:57|              1|        19.85|         2|                 N|         132|         236|           1|       70.0|  0.0|    0.5|      13.0|        6.94|                  1.0|       95.69|                 2.5|       1.75|               0.0|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
only showing top 20 rows

In [23]:
df.filter('Airport_fee>0 and passenger_count>2').show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|cbd_congestion_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
|       2| 2025-02-01 00:33:23|  2025-02-01 01:31:03|              5|        19.96|         2|                 N|         132|          24|           1|       70.0|  0.0|    0.5|     24.06|        6.94|                  1.0|      104.25|                 0.0|       1.75|               0.0|
|       2| 2025-02-01 00:08:34|  2025-02-01 00:44:47|              4|        18.22|         2|                 N|         132|         230|           2|       70.0|  0.0|    0.5|       0.0|         0.0|                  1.0|        76.5|                 2.5|       1.75|              0.75|
|       2| 2025-02-01 00:13:40|  2025-02-01 00:20:49|              4|         3.68|         1|                 N|          70|         260|           1|       15.6|  6.0|    0.5|       3.0|         0.0|                  1.0|       27.85|                 0.0|       1.75|               0.0|
|       2| 2025-02-01 00:33:11|  2025-02-01 01:06:30|              6|          3.9|         1|                 N|         132|         216|           1|       31.7|  1.0|    0.5|     10.78|         0.0|                  1.0|       46.73|                 0.0|       1.75|               0.0|
|       2| 2025-02-01 00:30:45|  2025-02-01 01:10:41|              3|         9.22|         3|                 N|         132|          95|           1|       69.2|  1.0|    0.0|     14.24|         0.0|                  1.0|       87.19|                 0.0|       1.75|               0.0|
|       2| 2025-02-01 00:59:12|  2025-02-01 01:15:22|              3|         9.61|         1|                 N|          70|          65|           1|       38.0|  6.0|    0.5|       9.1|         0.0|                  1.0|       56.35|                 0.0|       1.75|               0.0|
|       2| 2025-02-01 00:07:12|  2025-02-01 00:39:00|              3|        17.94|         2|                 N|         132|         230|           1|       70.0|  0.0|    0.5|     16.69|        6.94|                  1.0|      100.13|                 2.5|       1.75|              0.75|
|       2| 2025-02-01 00:50:40|  2025-02-01 00:51:30|              3|          0.0|         1|                 N|         132|         132|           4|        3.0|  1.0|    0.5|       0.0|         0.0|                  1.0|        7.25|                 0.0|       1.75|               0.0|
|       2| 2025-02-01 00:52:38|  2025-02-01 01:24:41|              3|        17.83|         2|                 N|         132|         230|           1|       70.0|  0.0|    0.5|     16.34|        6.94|                  1.0|       99.78|                 2.5|       1.75|              0.75|
|       2| 2025-02-01 00:54:21|  2025-02-01 01:32:29|              3|         7.06|         1|                 N|         132|         130|           2|       40.8|  1.0|    0.5|       0.0|         0.0|                  1.0|       45.05|                 0.0|       1.75|               0.0|
|       2| 2025-02-01 00:19:09|  2025-02-01 00:42:25|              4|         6.92|         1|                 N|         132|         265|           1|       32.4|  1.0|    0.5|      6.98|         0.0|                  1.0|       43.63|                 0.0|       1.75|               0.0|
|       2| 2025-02-01 00:57:48|  2025-02-01 01:30:14|              3|         5.44|         1|                 N|         132|         216|           2|       33.8|  1.0|    0.5|       0.0|         0.0|                  1.0|       38.05|                 0.0|       1.75|               0.0|
|       2| 2025-02-01 01:17:47|  2025-02-01 01:38:08|              3|         7.63|         1|                 N|         132|          28|           2|       31.7|  1.0|    0.5|       0.0|         0.0|                  1.0|       35.95|                 0.0|       1.75|               0.0|
|       2| 2025-02-01 01:03:59|  2025-02-01 01:23:51|              4|        11.57|         1|                 N|         138|          87|           1|       45.0|  6.0|    0.5|     11.15|         0.0|                  1.0|       68.65|                 2.5|       1.75|              0.75|
|       2| 2025-02-01 01:12:42|  2025-02-01 01:47:13|              6|        11.58|         1|                 N|         132|          56|           2|       51.3|  1.0|    0.5|       0.0|         0.0|                  1.0|       55.55|                 0.0|       1.75|               0.0|
|       2| 2025-02-01 04:31:50|  2025-02-01 05:09:43|              3|        18.23|         1|                 N|         132|          61|           1|       72.3|  1.0|    0.5|     15.46|         0.0|                  1.0|       94.51|                 2.5|       1.75|               0.0|
|       2| 2025-02-01 05:59:40|  2025-02-01 06:13:53|              3|         5.01|         1|                 N|         138|          95|           1|       22.6|  6.0|    0.5|      6.67|         0.0|                  1.0|       41.77|                 2.5|       1.75|              0.75|
|       2| 2025-02-01 06:52:56|  2025-02-01 07:29:25|              4|        18.76|         1|                 N|         132|          36|           1|       71.6|  0.0|    0.5|      14.0|         0.0|                  1.0|       88.85|                 0.0|       1.75|               0.0|
|       2| 2025-02-01 06:37:27|  2025-02-01 06:37:31|              4|          0.0|         5|                 N|         132|         132|           1|       95.0|  0.0|    0.0|       5.0|         0.0|                  1.0|      102.75|                 0.0|       1.75|               0.0|
|       2| 2025-02-01 07:09:09|  2025-02-01 07:36:54|              3|        17.73|         2|                 N|         132|         164|           1|       70.0|  0.0|    0.5|     16.34|        6.94|                  1.0|       99.78|                 2.5|       1.75|              0.75|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
only showing top 20 rows

In [27]:
df.filter('Airport_fee>0 and passenger_count>2')\
.select('VendorID','passenger_count','total_amount').show()

+--------+---------------+------------+
|VendorID|passenger_count|total_amount|
+--------+---------------+------------+
|       2|              5|      104.25|
|       2|              4|        76.5|
|       2|              4|       27.85|
|       2|              6|       46.73|
|       2|              3|       87.19|
|       2|              3|       56.35|
|       2|              3|      100.13|
|       2|              3|        7.25|
|       2|              3|       99.78|
|       2|              3|       45.05|
|       2|              4|       43.63|
|       2|              3|       38.05|
|       2|              3|       35.95|
|       2|              4|       68.65|
|       2|              6|       55.55|
|       2|              3|       94.51|
|       2|              3|       41.77|
|       2|              4|       88.85|
|       2|              4|      102.75|
|       2|              3|       99.78|
+--------+---------------+------------+
only showing top 20 rows

In [36]:
df.select('trip_distance','total_amount')\
.filter('Airport_fee=0 and passenger_count=1')\
.sort('trip_distance', ascending=False)\
.show()

+-------------+------------+
|trip_distance|total_amount|
+-------------+------------+
|      11185.4|        36.0|
|      8002.41|       25.26|
|       5407.3|       52.36|
|       457.64|     2235.17|
|        255.1|      203.54|
|       225.59|      574.96|
|       215.79|       500.0|
|       212.75|      294.25|
|       202.21|     -987.94|
|       202.21|      987.94|
|        196.3|       18.81|
|       195.19|     1438.01|
|       178.35|      711.19|
|       167.05|      494.75|
|       160.84|       499.5|
|       131.38|     -515.81|
|       131.38|      515.81|
|       106.94|     -682.24|
|       106.94|      682.24|
|       100.79|       14.35|
+-------------+------------+
only showing top 20 rows

In [38]:
from pyspark.sql.functions import col, isnull

In [43]:
df.filter(isnull(col('passenger_count'))).count()

806937

In [45]:
df.filter(isnull(col('passenger_count'))).count()

806937

In [46]:
df1=df.fillna({'passenger_count': 1})

In [47]:
df1.show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|cbd_congestion_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
|       2| 2025-02-01 00:12:18|  2025-02-01 00:32:33|              3|         3.12|         1|                 N|         246|          79|           1|       19.8|  1.0|    0.5|      5.11|         0.0|                  1.0|       30.66|                 2.5|        0.0|              0.75|
|       2| 2025-02-01 00:40:04|  2025-02-01 00:49:15|              1|          1.4|         1|                 N|         114|          79|           1|       10.0|  1.0|    0.5|      3.15|         0.0|                  1.0|        18.9|                 2.5|        0.0|              0.75|
|       1| 2025-02-01 00:06:09|  2025-02-01 00:11:51|              0|          0.4|         1|                 N|         211|         144|           1|        6.5| 4.25|    0.5|       1.0|         0.0|                  1.0|       13.25|                 2.5|        0.0|              0.75|
|       1| 2025-02-01 00:15:13|  2025-02-01 00:20:19|              0|          0.7|         1|                 N|         113|         249|           1|        7.2| 4.25|    0.5|       2.0|         0.0|                  1.0|       14.95|                 2.5|        0.0|              0.75|
|       2| 2025-02-01 00:02:52|  2025-02-01 00:20:25|              1|         4.19|         1|                 N|         113|         263|           1|       19.8|  1.0|    0.5|      5.11|         0.0|                  1.0|       30.66|                 2.5|        0.0|              0.75|
|       2| 2025-02-01 00:33:47|  2025-02-01 00:41:49|              1|         1.57|         1|                 N|         162|         236|           1|       10.0|  1.0|    0.5|      3.15|         0.0|                  1.0|        18.9|                 2.5|        0.0|              0.75|
|       2| 2025-02-01 00:37:12|  2025-02-01 00:39:49|              1|          0.3|         1|                 N|         164|         186|           1|        4.4|  1.0|    0.5|       3.0|         0.0|                  1.0|       13.15|                 2.5|        0.0|              0.75|
|       2| 2025-02-01 00:12:12|  2025-02-01 00:23:30|              1|         1.41|         1|                 N|          45|         249|           1|       11.4|  1.0|    0.5|      3.43|         0.0|                  1.0|       20.58|                 2.5|        0.0|              0.75|
|       2| 2025-02-01 00:29:30|  2025-02-01 00:44:51|              1|         2.72|         1|                 N|         114|         186|           1|       16.3|  1.0|    0.5|       2.0|         0.0|                  1.0|       24.05|                 2.5|        0.0|              0.75|
|       1| 2025-02-01 00:15:18|  2025-02-01 00:26:00|              1|          2.2|         1|                 N|         158|          48|           2|       12.8| 4.25|    0.5|       0.0|         0.0|                  1.0|       18.55|                 2.5|        0.0|              0.75|
|       1| 2025-02-01 00:43:54|  2025-02-01 00:54:17|              1|          1.4|         1|                 N|         246|         234|           1|       11.4| 4.25|    0.5|      4.25|         0.0|                  1.0|        21.4|                 2.5|        0.0|              0.75|
|       2| 2025-02-01 00:06:56|  2025-02-01 00:27:14|              1|         3.97|         1|                 N|         237|          41|           1|       22.6|  1.0|    0.5|       0.0|         0.0|                  1.0|        27.6|                 2.5|        0.0|               0.0|
|       1| 2025-02-01 00:32:24|  2025-02-01 00:40:49|              2|          1.1|         1|                 N|         233|         164|           2|        9.3| 4.25|    0.5|       0.0|         0.0|                  1.0|       15.05|                 2.5|        0.0|              0.75|
|       1| 2025-02-01 00:42:12|  2025-02-01 01:05:35|              1|          7.9|         1|                 N|         164|          40|           1|       34.5| 4.25|    0.5|     12.05|         0.0|                  1.0|        52.3|                 2.5|        0.0|              0.75|
|       2| 2025-02-01 00:57:26|  2025-02-01 01:01:39|              1|         1.08|         1|                 N|         246|         100|           1|        7.2|  1.0|    0.5|      2.44|         0.0|                  1.0|       14.64|                 2.5|        0.0|               0.0|
|       1| 2025-02-01 00:43:45|  2025-02-01 00:51:18|              1|          1.0|         1|                 N|          79|         107|           1|        7.2| 4.25|    0.5|       2.6|         0.0|                  1.0|       15.55|                 2.5|        0.0|              0.75|
|       1| 2025-02-01 00:53:44|  2025-02-01 01:05:53|              1|          1.8|         1|                 N|         137|           4|           1|       10.7| 4.25|    0.5|       3.3|         0.0|                  1.0|       19.75|                 2.5|        0.0|              0.75|
|       2| 2025-02-01 00:14:51|  2025-02-01 00:50:29|              1|        10.13|         1|                 N|         140|          17|           1|       47.8|  1.0|    0.5|     10.56|         0.0|                  1.0|       63.36|                 2.5|        0.0|               0.0|
|       1| 2025-02-01 00:23:59|  2025-02-01 00:41:09|              2|          3.2|         1|                 N|         144|         100|           1|       18.4| 4.25|    0.5|       4.0|         0.0|                  1.0|       28.15|                 2.5|        0.0|              0.75|
|       2| 2025-02-01 00:05:55|  2025-02-01 00:13:01|              1|         0.61|         1|                 N|          79|         148|           1|        7.9|  1.0|    0.5|      2.46|         0.0|                  1.0|       16.11|                 2.5|        0.0|              0.75|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
only showing top 20 rows

In [48]:
df1.filter(isnull(col('passenger_count'))).count()

0

In [56]:
from pyspark.sql.functions import unix_timestamp, round
df1=df.withColumn(
    'trip_duration_minutes',
    round(
        (unix_timestamp('tpep_dropoff_datetime')-unix_timestamp('tpep_pickup_datetime'))/60,
        1
    )
)

In [71]:
df2=df1.select(
    'tpep_pickup_datetime','tpep_dropoff_datetime','trip_duration_minutes',\
    'PULocationID','DOLocationID','passenger_count',
    'fare_amount','Airport_fee','total_amount')\
.withColumnRenamed('tpep_pickup_datetime', 'pu_datetime') \
 .withColumnRenamed('tpep_dropoff_datetime', 'do_datetime') \
 .withColumnRenamed('PULocationID', 'pu_location_id') \
 .withColumnRenamed('DOLocationID', 'do_location_id') \
 .withColumnRenamed('Airport_fee', 'airport_fee')

# withColumnRenamed({'tpep_pickup_datetime': 'pu_datetime',
#      'tpep_dropoff_datetime': 'do_datetime',\
#      'PULocationID': 'pu_location_id',\
#      'DOLocationID': 'do_location_id',\
#      'Airport_fee': 'airport_fee'}
# )

In [72]:
df2.show()

+-------------------+-------------------+---------------------+--------------+--------------+---------------+-----------+-----------+------------+
|        pu_datetime|        do_datetime|trip_duration_minutes|pu_location_id|do_location_id|passenger_count|fare_amount|airport_fee|total_amount|
+-------------------+-------------------+---------------------+--------------+--------------+---------------+-----------+-----------+------------+
|2025-02-01 00:12:18|2025-02-01 00:32:33|                 20.3|           246|            79|              3|       19.8|        0.0|       30.66|
|2025-02-01 00:40:04|2025-02-01 00:49:15|                  9.2|           114|            79|              1|       10.0|        0.0|        18.9|
|2025-02-01 00:06:09|2025-02-01 00:11:51|                  5.7|           211|           144|              0|        6.5|        0.0|       13.25|
|2025-02-01 00:15:13|2025-02-01 00:20:19|                  5.1|           113|           249|              0|        7.2|        0.0|       14.95|
|2025-02-01 00:02:52|2025-02-01 00:20:25|                 17.6|           113|           263|              1|       19.8|        0.0|       30.66|
|2025-02-01 00:33:47|2025-02-01 00:41:49|                  8.0|           162|           236|              1|       10.0|        0.0|        18.9|
|2025-02-01 00:37:12|2025-02-01 00:39:49|                  2.6|           164|           186|              1|        4.4|        0.0|       13.15|
|2025-02-01 00:12:12|2025-02-01 00:23:30|                 11.3|            45|           249|              1|       11.4|        0.0|       20.58|
|2025-02-01 00:29:30|2025-02-01 00:44:51|                 15.4|           114|           186|              1|       16.3|        0.0|       24.05|
|2025-02-01 00:15:18|2025-02-01 00:26:00|                 10.7|           158|            48|              1|       12.8|        0.0|       18.55|
|2025-02-01 00:43:54|2025-02-01 00:54:17|                 10.4|           246|           234|              1|       11.4|        0.0|        21.4|
|2025-02-01 00:06:56|2025-02-01 00:27:14|                 20.3|           237|            41|              1|       22.6|        0.0|        27.6|
|2025-02-01 00:32:24|2025-02-01 00:40:49|                  8.4|           233|           164|              2|        9.3|        0.0|       15.05|
|2025-02-01 00:42:12|2025-02-01 01:05:35|                 23.4|           164|            40|              1|       34.5|        0.0|        52.3|
|2025-02-01 00:57:26|2025-02-01 01:01:39|                  4.2|           246|           100|              1|        7.2|        0.0|       14.64|
|2025-02-01 00:43:45|2025-02-01 00:51:18|                  7.6|            79|           107|              1|        7.2|        0.0|       15.55|
|2025-02-01 00:53:44|2025-02-01 01:05:53|                 12.2|           137|             4|              1|       10.7|        0.0|       19.75|
|2025-02-01 00:14:51|2025-02-01 00:50:29|                 35.6|           140|            17|              1|       47.8|        0.0|       63.36|
|2025-02-01 00:23:59|2025-02-01 00:41:09|                 17.2|           144|           100|              2|       18.4|        0.0|       28.15|
|2025-02-01 00:05:55|2025-02-01 00:13:01|                  7.1|            79|           148|              1|        7.9|        0.0|       16.11|
+-------------------+-------------------+---------------------+--------------+--------------+---------------+-----------+-----------+------------+
only showing top 20 rows

In [73]:
df1.drop('VendorID','RatecodeID').show()

+--------------------+---------------------+---------------+-------------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+---------------------+
|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|cbd_congestion_fee|trip_duration_minutes|
+--------------------+---------------------+---------------+-------------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+---------------------+
| 2025-02-01 00:12:18|  2025-02-01 00:32:33|              3|         3.12|                 N|         246|          79|           1|       19.8|  1.0|    0.5|      5.11|         0.0|                  1.0|       30.66|                 2.5|        0.0|              0.75|                 20.3|
| 2025-02-01 00:40:04|  2025-02-01 00:49:15|              1|          1.4|                 N|         114|          79|           1|       10.0|  1.0|    0.5|      3.15|         0.0|                  1.0|        18.9|                 2.5|        0.0|              0.75|                  9.2|
| 2025-02-01 00:06:09|  2025-02-01 00:11:51|              0|          0.4|                 N|         211|         144|           1|        6.5| 4.25|    0.5|       1.0|         0.0|                  1.0|       13.25|                 2.5|        0.0|              0.75|                  5.7|
| 2025-02-01 00:15:13|  2025-02-01 00:20:19|              0|          0.7|                 N|         113|         249|           1|        7.2| 4.25|    0.5|       2.0|         0.0|                  1.0|       14.95|                 2.5|        0.0|              0.75|                  5.1|
| 2025-02-01 00:02:52|  2025-02-01 00:20:25|              1|         4.19|                 N|         113|         263|           1|       19.8|  1.0|    0.5|      5.11|         0.0|                  1.0|       30.66|                 2.5|        0.0|              0.75|                 17.6|
| 2025-02-01 00:33:47|  2025-02-01 00:41:49|              1|         1.57|                 N|         162|         236|           1|       10.0|  1.0|    0.5|      3.15|         0.0|                  1.0|        18.9|                 2.5|        0.0|              0.75|                  8.0|
| 2025-02-01 00:37:12|  2025-02-01 00:39:49|              1|          0.3|                 N|         164|         186|           1|        4.4|  1.0|    0.5|       3.0|         0.0|                  1.0|       13.15|                 2.5|        0.0|              0.75|                  2.6|
| 2025-02-01 00:12:12|  2025-02-01 00:23:30|              1|         1.41|                 N|          45|         249|           1|       11.4|  1.0|    0.5|      3.43|         0.0|                  1.0|       20.58|                 2.5|        0.0|              0.75|                 11.3|
| 2025-02-01 00:29:30|  2025-02-01 00:44:51|              1|         2.72|                 N|         114|         186|           1|       16.3|  1.0|    0.5|       2.0|         0.0|                  1.0|       24.05|                 2.5|        0.0|              0.75|                 15.4|
| 2025-02-01 00:15:18|  2025-02-01 00:26:00|              1|          2.2|                 N|         158|          48|           2|       12.8| 4.25|    0.5|       0.0|         0.0|                  1.0|       18.55|                 2.5|        0.0|              0.75|                 10.7|
| 2025-02-01 00:43:54|  2025-02-01 00:54:17|              1|          1.4|                 N|         246|         234|           1|       11.4| 4.25|    0.5|      4.25|         0.0|                  1.0|        21.4|                 2.5|        0.0|              0.75|                 10.4|
| 2025-02-01 00:06:56|  2025-02-01 00:27:14|              1|         3.97|                 N|         237|          41|           1|       22.6|  1.0|    0.5|       0.0|         0.0|                  1.0|        27.6|                 2.5|        0.0|               0.0|                 20.3|
| 2025-02-01 00:32:24|  2025-02-01 00:40:49|              2|          1.1|                 N|         233|         164|           2|        9.3| 4.25|    0.5|       0.0|         0.0|                  1.0|       15.05|                 2.5|        0.0|              0.75|                  8.4|
| 2025-02-01 00:42:12|  2025-02-01 01:05:35|              1|          7.9|                 N|         164|          40|           1|       34.5| 4.25|    0.5|     12.05|         0.0|                  1.0|        52.3|                 2.5|        0.0|              0.75|                 23.4|
| 2025-02-01 00:57:26|  2025-02-01 01:01:39|              1|         1.08|                 N|         246|         100|           1|        7.2|  1.0|    0.5|      2.44|         0.0|                  1.0|       14.64|                 2.5|        0.0|               0.0|                  4.2|
| 2025-02-01 00:43:45|  2025-02-01 00:51:18|              1|          1.0|                 N|          79|         107|           1|        7.2| 4.25|    0.5|       2.6|         0.0|                  1.0|       15.55|                 2.5|        0.0|              0.75|                  7.6|
| 2025-02-01 00:53:44|  2025-02-01 01:05:53|              1|          1.8|                 N|         137|           4|           1|       10.7| 4.25|    0.5|       3.3|         0.0|                  1.0|       19.75|                 2.5|        0.0|              0.75|                 12.2|
| 2025-02-01 00:14:51|  2025-02-01 00:50:29|              1|        10.13|                 N|         140|          17|           1|       47.8|  1.0|    0.5|     10.56|         0.0|                  1.0|       63.36|                 2.5|        0.0|               0.0|                 35.6|
| 2025-02-01 00:23:59|  2025-02-01 00:41:09|              2|          3.2|                 N|         144|         100|           1|       18.4| 4.25|    0.5|       4.0|         0.0|                  1.0|       28.15|                 2.5|        0.0|              0.75|                 17.2|
| 2025-02-01 00:05:55|  2025-02-01 00:13:01|              1|         0.61|                 N|          79|         148|           1|        7.9|  1.0|    0.5|      2.46|         0.0|                  1.0|       16.11|                 2.5|        0.0|              0.75|                  7.1|
+--------------------+---------------------+---------------+-------------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+---------------------+
only showing top 20 rows

In [75]:
df_jan= spark.read.parquet('/content/drive/MyDrive/PySpark/yellow_tripdata_2025-01.parquet')

In [76]:
df_2025=df.union(df_jan)

In [77]:
df_2025.count()

7052769

In [78]:
taxi_zone_lookup= spark.read.option('header','true').csv('/content/drive/MyDrive/PySpark/taxi_zone_lookup.csv')

In [79]:
taxi_zone_lookup.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [80]:
df_joined=df_2025.join(taxi_zone_lookup, df_2025.PULocationID==taxi_zone_lookup.LocationID, 'left')
df_joined.show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+----------+---------+--------------------+------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|cbd_congestion_fee|LocationID|  Borough|                Zone|service_zone|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+----------+---------+--------------------+------------+
|       2| 2025-02-01 00:12:18|  2025-02-01 00:32:33|              3|         3.12|         1|                 N|         246|          79|           1|       19.8|  1.0|    0.5|      5.11|         0.0|                  1.0|       30.66|                 2.5|        0.0|              0.75|       246|Manhattan|West Chelsea/Huds...| Yellow Zone|
|       2| 2025-02-01 00:40:04|  2025-02-01 00:49:15|              1|          1.4|         1|                 N|         114|          79|           1|       10.0|  1.0|    0.5|      3.15|         0.0|                  1.0|        18.9|                 2.5|        0.0|              0.75|       114|Manhattan|Greenwich Village...| Yellow Zone|
|       1| 2025-02-01 00:06:09|  2025-02-01 00:11:51|              0|          0.4|         1|                 N|         211|         144|           1|        6.5| 4.25|    0.5|       1.0|         0.0|                  1.0|       13.25|                 2.5|        0.0|              0.75|       211|Manhattan|                SoHo| Yellow Zone|
|       1| 2025-02-01 00:15:13|  2025-02-01 00:20:19|              0|          0.7|         1|                 N|         113|         249|           1|        7.2| 4.25|    0.5|       2.0|         0.0|                  1.0|       14.95|                 2.5|        0.0|              0.75|       113|Manhattan|Greenwich Village...| Yellow Zone|
|       2| 2025-02-01 00:02:52|  2025-02-01 00:20:25|              1|         4.19|         1|                 N|         113|         263|           1|       19.8|  1.0|    0.5|      5.11|         0.0|                  1.0|       30.66|                 2.5|        0.0|              0.75|       113|Manhattan|Greenwich Village...| Yellow Zone|
|       2| 2025-02-01 00:33:47|  2025-02-01 00:41:49|              1|         1.57|         1|                 N|         162|         236|           1|       10.0|  1.0|    0.5|      3.15|         0.0|                  1.0|        18.9|                 2.5|        0.0|              0.75|       162|Manhattan|        Midtown East| Yellow Zone|
|       2| 2025-02-01 00:37:12|  2025-02-01 00:39:49|              1|          0.3|         1|                 N|         164|         186|           1|        4.4|  1.0|    0.5|       3.0|         0.0|                  1.0|       13.15|                 2.5|        0.0|              0.75|       164|Manhattan|       Midtown South| Yellow Zone|
|       2| 2025-02-01 00:12:12|  2025-02-01 00:23:30|              1|         1.41|         1|                 N|          45|         249|           1|       11.4|  1.0|    0.5|      3.43|         0.0|                  1.0|       20.58|                 2.5|        0.0|              0.75|        45|Manhattan|           Chinatown| Yellow Zone|
|       2| 2025-02-01 00:29:30|  2025-02-01 00:44:51|              1|         2.72|         1|                 N|         114|         186|           1|       16.3|  1.0|    0.5|       2.0|         0.0|                  1.0|       24.05|                 2.5|        0.0|              0.75|       114|Manhattan|Greenwich Village...| Yellow Zone|
|       1| 2025-02-01 00:15:18|  2025-02-01 00:26:00|              1|          2.2|         1|                 N|         158|          48|           2|       12.8| 4.25|    0.5|       0.0|         0.0|                  1.0|       18.55|                 2.5|        0.0|              0.75|       158|Manhattan|Meatpacking/West ...| Yellow Zone|
|       1| 2025-02-01 00:43:54|  2025-02-01 00:54:17|              1|          1.4|         1|                 N|         246|         234|           1|       11.4| 4.25|    0.5|      4.25|         0.0|                  1.0|        21.4|                 2.5|        0.0|              0.75|       246|Manhattan|West Chelsea/Huds...| Yellow Zone|
|       2| 2025-02-01 00:06:56|  2025-02-01 00:27:14|              1|         3.97|         1|                 N|         237|          41|           1|       22.6|  1.0|    0.5|       0.0|         0.0|                  1.0|        27.6|                 2.5|        0.0|               0.0|       237|Manhattan|Upper East Side S...| Yellow Zone|
|       1| 2025-02-01 00:32:24|  2025-02-01 00:40:49|              2|          1.1|         1|                 N|         233|         164|           2|        9.3| 4.25|    0.5|       0.0|         0.0|                  1.0|       15.05|                 2.5|        0.0|              0.75|       233|Manhattan| UN/Turtle Bay South| Yellow Zone|
|       1| 2025-02-01 00:42:12|  2025-02-01 01:05:35|              1|          7.9|         1|                 N|         164|          40|           1|       34.5| 4.25|    0.5|     12.05|         0.0|                  1.0|        52.3|                 2.5|        0.0|              0.75|       164|Manhattan|       Midtown South| Yellow Zone|
|       2| 2025-02-01 00:57:26|  2025-02-01 01:01:39|              1|         1.08|         1|                 N|         246|         100|           1|        7.2|  1.0|    0.5|      2.44|         0.0|                  1.0|       14.64|                 2.5|        0.0|               0.0|       246|Manhattan|West Chelsea/Huds...| Yellow Zone|
|       1| 2025-02-01 00:43:45|  2025-02-01 00:51:18|              1|          1.0|         1|                 N|          79|         107|           1|        7.2| 4.25|    0.5|       2.6|         0.0|                  1.0|       15.55|                 2.5|        0.0|              0.75|        79|Manhattan|        East Village| Yellow Zone|
|       1| 2025-02-01 00:53:44|  2025-02-01 01:05:53|              1|          1.8|         1|                 N|         137|           4|           1|       10.7| 4.25|    0.5|       3.3|         0.0|                  1.0|       19.75|                 2.5|        0.0|              0.75|       137|Manhattan|            Kips Bay| Yellow Zone|
|       2| 2025-02-01 00:14:51|  2025-02-01 00:50:29|              1|        10.13|         1|                 N|         140|          17|           1|       47.8|  1.0|    0.5|     10.56|         0.0|                  1.0|       63.36|                 2.5|        0.0|               0.0|       140|Manhattan|     Lenox Hill East| Yellow Zone|
|       1| 2025-02-01 00:23:59|  2025-02-01 00:41:09|              2|          3.2|         1|                 N|         144|         100|           1|       18.4| 4.25|    0.5|       4.0|         0.0|                  1.0|       28.15|                 2.5|        0.0|              0.75|       144|Manhattan| Little Italy/NoLiTa| Yellow Zone|
|       2| 2025-02-01 00:05:55|  2025-02-01 00:13:01|              1|         0.61|         1|                 N|          79|         148|           1|        7.9|  1.0|    0.5|      2.46|         0.0|                  1.0|       16.11|                 2.5|        0.0|              0.75|        79|Manhattan|        East Village| Yellow Zone|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+----------+---------+--------------------+------------+
only showing top 20 rows

In [83]:
df_jan.groupBy('payment_type').count().sort('payment_type').show()

+------------+-------+
|payment_type|  count|
+------------+-------+
|           0| 540149|
|           1|2444393|
|           2| 390429|
|           3|  23773|
|           4|  76481|
|           5|      1|
+------------+-------+

In [84]:
df_jan.groupBy('payment_type').avg('total_amount').show()

+------------+------------------+
|payment_type| avg(total_amount)|
+------------+------------------+
|           5|               0.0|
|           1|28.079206040112336|
|           3| 6.145837294409612|
|           2| 21.74035097290552|
|           4|11.573446869157074|
|           0|20.085374294870405|
+------------+------------------+

In [85]:
from pyspark.sql.functions import avg

In [87]:
df_jan.groupBy('payment_type').agg(avg('total_amount').alias('avg_amount')).show()

+------------+------------------+
|payment_type|        avg_amount|
+------------+------------------+
|           5|               0.0|
|           1|28.079206040112336|
|           3| 6.145837294409612|
|           2| 21.74035097290552|
|           4|11.573446869157074|
|           0|20.085374294870405|
+------------+------------------+

In [88]:
avg_fare= df.groupBy('payment_type').agg(avg('total_amount')).sort('payment_type')

In [91]:
avg_fare.write.csv('/content/drive/MyDrive/PySpark/avg_fare', header=True, mode='overwrite')

In [107]:
#read in data files
df_jan_2025= spark.read.parquet('/content/drive/MyDrive/PySpark/yellow_tripdata_2025-01.parquet')
df_feb_2025= spark.read.parquet('/content/drive/MyDrive/PySpark/yellow_tripdata_2025-02.parquet')

In [113]:
#union df
df_2025_combined=df_jan_2025.union(df_feb_2025)

In [114]:
#select n rename coloumns
df_2025_combined=df_2025_combined.select(
    'tpep_pickup_datetime','tpep_dropoff_datetime',\
    'PULocationID','DOLocationID','passenger_count',
    'fare_amount','Airport_fee','total_amount','payment_type')\
.withColumnRenamed('tpep_pickup_datetime', 'pu_datetime') \
 .withColumnRenamed('tpep_dropoff_datetime', 'do_datetime') \
 .withColumnRenamed('PULocationID', 'pu_location_id') \
 .withColumnRenamed('DOLocationID', 'do_location_id') \
 .withColumnRenamed('Airport_fee', 'airport_fee')

In [138]:
#new df with zone lookup
taxi_zones= spark.read.option('header','true')\
.csv('/content/drive/MyDrive/PySpark/taxi_zone_lookup.csv')
taxi_zones.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [139]:
#join df
df_2025_combined=df_2025_combined.join(taxi_zones, df_2025_combined.do_location_id==taxi_zones.LocationID, 'left')

In [149]:
#drop and rename col
df_2025_combined=df_2025_combined\
.drop('LocationID','Zone','service_zone')\
.withColumnRenamed({'Borough': 'pu_boro'})

TypeError: DataFrame.withColumnRenamed() missing 1 required positional argument: 'new'

PySpark SQL

In [151]:
taxi=spark.read.parquet('/content/drive/MyDrive/PySpark/yellow_tripdata_2025-01.parquet')

In [152]:
taxi.createOrReplaceTempView('taxi')

In [153]:
spark.sql('SELECT * FROM taxi WHERE total_amount> 50').show()

+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|cbd_congestion_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
|       2| 2025-01-01 00:15:41|  2025-01-01 01:03:03|              4|         3.05|         1|                 N|         114|         161|           1|       37.3|  1.0|    0.5|      8.46|         0.0|                  1.0|       50.76|                 2.5|        0.0|               0.0|
|       2| 2025-01-01 00:34:23|  2025-01-01 01:20:57|              1|        10.42|         1|                 N|          90|         243|           1|       56.9|  1.0|    0.5|     12.38|         0.0|                  1.0|       74.28|                 2.5|        0.0|               0.0|
|       2| 2025-01-01 00:55:44|  2025-01-01 01:27:41|              1|        14.84|         1|                 N|         132|          89|           1|       59.0|  1.0|    0.5|      12.3|         0.0|                  1.0|       75.55|                 0.0|       1.75|               0.0|
|       2| 2025-01-01 00:04:29|  2025-01-01 00:55:58|              9|        31.97|         5|                 N|         132|         265|           2|       90.0|  0.0|    0.0|       0.0|       20.32|                  1.0|      111.32|                 0.0|        0.0|               0.0|
|       1| 2025-01-01 00:44:59|  2025-01-01 01:23:14|              1|         10.9|         1|                 N|         261|          42|           1|       47.1|  3.5|    0.5|       5.0|         0.0|                  1.0|        57.1|                 2.5|        0.0|               0.0|
|       2| 2025-01-01 00:11:59|  2025-01-01 00:48:37|              2|         9.17|         1|                 N|         138|         186|           1|       48.5|  6.0|    0.5|     13.09|        6.94|                  1.0|       80.28|                 2.5|       1.75|               0.0|
|       2| 2025-01-01 00:39:59|  2025-01-01 01:00:37|              1|         7.78|         1|                 N|         138|          36|           1|       33.8|  6.0|    0.5|      8.26|         0.0|                  1.0|       51.31|                 0.0|       1.75|               0.0|
|       2| 2025-01-01 00:48:53|  2025-01-01 01:13:31|              1|        11.81|         5|                 N|          68|         265|           1|       80.0|  0.0|    0.0|       0.0|       21.38|                  1.0|      102.38|                 0.0|        0.0|               0.0|
|       2| 2025-01-01 00:32:29|  2025-01-01 01:09:35|              1|         9.79|         1|                 N|         239|          33|           1|       44.3|  1.0|    0.5|     12.32|         0.0|                  1.0|       61.62|                 2.5|        0.0|               0.0|
|       1| 2025-01-01 00:00:00|  2025-01-01 01:03:09|              1|          6.4|         1|                 Y|         211|         164|           1|       52.0|  3.5|    0.5|     17.05|         0.0|                  1.0|       74.05|                 2.5|        0.0|               0.0|
|       2| 2025-01-01 00:24:04|  2025-01-01 01:09:28|              3|         5.55|         1|                 N|         238|         113|           1|       40.1|  1.0|    0.5|     11.28|         0.0|                  1.0|       56.38|                 2.5|        0.0|               0.0|
|       2| 2025-01-01 00:17:24|  2025-01-01 00:56:58|              1|         4.83|         1|                 N|          48|         261|           1|       37.3|  1.0|    0.5|      8.46|         0.0|                  1.0|       50.76|                 2.5|        0.0|               0.0|
|       1| 2025-01-01 00:38:06|  2025-01-01 01:07:49|              4|          9.4|         1|                 N|          33|         149|           1|       40.8|  1.0|    0.5|      15.0|         0.0|                  1.0|        58.3|                 0.0|        0.0|               0.0|
|       1| 2025-01-01 00:03:00|  2025-01-01 00:25:10|              2|         10.4|         1|                 N|         138|         162|           1|       40.8|10.25|    0.5|       0.0|        6.94|                  1.0|       59.49|                 2.5|       1.75|               0.0|
|       2| 2025-01-01 00:07:59|  2025-01-01 00:36:49|              1|        15.18|         1|                 N|         161|         200|           1|       59.7|  1.0|    0.5|     12.94|         0.0|                  1.0|       77.64|                 2.5|        0.0|               0.0|
|       2| 2025-01-01 00:52:40|  2025-01-01 01:21:14|              1|        18.57|         1|                 N|          93|          29|           1|       68.8|  1.0|    0.5|      12.0|         0.0|                  1.0|        83.3|                 0.0|        0.0|               0.0|
|       1| 2025-01-01 00:26:47|  2025-01-01 01:10:36|              1|         14.8|        99|                 N|          41|         122|           1|       47.5|  0.0|    0.5|       0.0|        6.94|                  1.0|       55.94|                 0.0|        0.0|               0.0|
|       1| 2025-01-01 00:23:05|  2025-01-01 00:56:38|              1|         22.0|         1|                 N|         132|         241|           2|       80.7| 2.75|    0.5|       0.0|        6.94|                  1.0|       91.89|                 0.0|       1.75|               0.0|
|       2| 2025-01-01 00:26:09|  2025-01-01 00:51:09|              1|         5.69|         5|                 N|         186|         265|           1|       60.0|  0.0|    0.0|     14.88|       13.38|                  1.0|       89.26|                 0.0|        0.0|               0.0|
|       2| 2025-01-01 00:16:32|  2025-01-01 00:47:36|              2|        16.43|         2|                 N|         170|         219|           1|       70.0|  0.0|    0.5|      10.0|        6.94|                  1.0|       90.94|                 2.5|        0.0|               0.0|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+------------------+
only showing top 20 rows

In [155]:
spark.sql('SELECT * FROM taxi WHERE total_amount>50')\
.filter('passenger_count>2')\
.select('payment_type','passenger_count','total_amount')\
.show()

+------------+---------------+------------+
|payment_type|passenger_count|total_amount|
+------------+---------------+------------+
|           1|              4|       50.76|
|           2|              9|      111.32|
|           1|              3|       56.38|
|           1|              4|        58.3|
|           1|              3|       51.55|
|           1|              4|       91.19|
|           2|              3|        59.1|
|           1|              4|       61.27|
|           3|              4|      123.44|
|           1|              3|       59.09|
|           2|              3|       192.4|
|           1|              4|       62.52|
|           1|              3|      151.35|
|           1|              3|       88.92|
|           1|              4|       100.0|
|           1|              4|      115.05|
|           2|              4|       80.94|
|           1|              3|        58.1|
|           1|              3|       62.49|
|           1|              3|       71.24|
+------------+---------------+------------+
only showing top 20 rows

In [156]:
query='''
SELECT
  payment_type,
  passenger_count,
  total_amount
FROM taxi
WHERE
  total_amount > 50
  AND
  passenger_count>2
'''

In [157]:
spark.sql(query).show()

+------------+---------------+------------+
|payment_type|passenger_count|total_amount|
+------------+---------------+------------+
|           1|              4|       50.76|
|           2|              9|      111.32|
|           1|              3|       56.38|
|           1|              4|        58.3|
|           1|              3|       51.55|
|           1|              4|       91.19|
|           2|              3|        59.1|
|           1|              4|       61.27|
|           3|              4|      123.44|
|           1|              3|       59.09|
|           2|              3|       192.4|
|           1|              4|       62.52|
|           1|              3|      151.35|
|           1|              3|       88.92|
|           1|              4|       100.0|
|           1|              4|      115.05|
|           2|              4|       80.94|
|           1|              3|        58.1|
|           1|              3|       62.49|
|           1|              3|       71.24|
+------------+---------------+------------+
only showing top 20 rows

In [188]:
taxi_jan2025=spark.read.parquet('/content/drive/MyDrive/PySpark/yellow_tripdata_2025-01.parquet')
taxi_jan2025.createOrReplaceTempView('taxi_jan2025')

In [187]:
taxi_lookup=spark.read.option('header','true')\
.csv('/content/drive/MyDrive/PySpark/taxi_zone_lookup.csv')
taxi_lookup.createOrReplaceTempView('taxi_lookup')

In [199]:
QUERY='''
SELECT DOLocationID, Borough, total_amount
FROM taxi_jan2025
LEFT JOIN taxi_lookup
ON DOLocationID=LocationID
'''
joined_df=spark.sql(query)

In [203]:
joined_df.groupBy('Borough') \
    .agg(avg('total_amount').alias('avg_amount')) \
    .show()

AnalysisException: [UNRESOLVED_COLUMN.WITH_SUGGESTION] A column or function parameter with name `Borough` cannot be resolved. Did you mean one of the following? [`total_amount`, `passenger_count`, `payment_type`].;
'Aggregate ['Borough], ['Borough, avg(total_amount#3675) AS avg_amount#4292]
+- Project [payment_type#3668L, passenger_count#3662L, total_amount#3675]
   +- Filter ((total_amount#3675 > cast(50 as double)) AND (passenger_count#3662L > cast(2 as bigint)))
      +- SubqueryAlias taxi
         +- View (`taxi`, [VendorID#3659,tpep_pickup_datetime#3660,tpep_dropoff_datetime#3661,passenger_count#3662L,trip_distance#3663,RatecodeID#3664L,store_and_fwd_flag#3665,PULocationID#3666,DOLocationID#3667,payment_type#3668L,fare_amount#3669,extra#3670,mta_tax#3671,tip_amount#3672,tolls_amount#3673,improvement_surcharge#3674,total_amount#3675,congestion_surcharge#3676,Airport_fee#3677,cbd_congestion_fee#3678])
            +- Relation [VendorID#3659,tpep_pickup_datetime#3660,tpep_dropoff_datetime#3661,passenger_count#3662L,trip_distance#3663,RatecodeID#3664L,store_and_fwd_flag#3665,PULocationID#3666,DOLocationID#3667,payment_type#3668L,fare_amount#3669,extra#3670,mta_tax#3671,tip_amount#3672,tolls_amount#3673,improvement_surcharge#3674,total_amount#3675,congestion_surcharge#3676,Airport_fee#3677,cbd_congestion_fee#3678] parquet